
.env
.DS_Store
*.log

.venv/
venv/
env/
*.pyc


/frontend/node_modules/ 
/frontend/build/
/frontend/dist/
/frontend/.vite/
/frontend/src/components/CategoryList.jsx
/frontend/src/components/SearchBar.jsx
/frontend/src/components/PaymentList.jsx
/frontend/src/components/PaymentForm.jsx

*.vscode

*.db
*.sqlite

