@import "tailwindcss";

@theme {
    --color-ocean-bg: #0f172a;
    --color-ocean-surface: #1e293b;
    --color-ocean-primary: #00b4d8;
    --color-ocean-title: #f1f5f9;
    --color-ocean-text: #cbd5e1;
    --color-ocean-border: #334155;

    --color-ocean-success: #10b981;
    --color-ocean-edit: #eab308;
    --color-ocean-delete: #ef4444;
}


@layer utilities {
    .animate-in{
        animation-fill-mode: both;
    }
    .slide-in-from-top{
        animation-name: slideInFromTop;
    }
    .slide-in-from-bottom{
        animation-name: slideInFromBottom;
    }
    .duration-200{
        animation-duration: 200ms;
    }
    .duration-300{
        animation-duration: 300ms;
    }
    .duration-700{
        animation-duration: 700ms;
    }
    .delay-100{
        animation-delay: 100ms;
    }
    .delay-200{
        animation-delay: 200ms;
    }
    .delay-400{
        animation-delay: 400ms;
    }
}

@keyframes slideInFromBottom {
    from{
        opacity: 0;
        transform: translateY(1rem);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideInFromTop {
    from{
        opacity: 0;
        transform: translateY(-1rem);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}